body {
  background-color: #cccccc;
}
header {
  background-color: #666666;
}
header h1 {
  text-align: center;
}
.title {
  text-align: center;
  background-color: #666666;
}
.title p {
  font-size: 25px;
}
.title h1 {
  font-size: 50px;
  margin-top: 25%;
}
